body { 
    display: grid;
    background: #fff; 
    color: rgba(0,0,0,0.87); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

/*  */
#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#heading {
    margin: 10px;
    font-size: larger;
    font-weight: bolder;
}
#loginWithGithub {
    background: darkgoldenrod;
    display: grid;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
#contentContainer {
    display: grid;
}
#sidebar {
    /*  */
}
#createProject {
    height: 30px;
}
#projectList {
    display: grid;
    align-content: stretch;
}
resizable-panels {
    --resizable-panels-knob-color: grey;
}
resizable-panels #code {
    padding: 10px;
    width: 70%;
}
resizable-panels #componentArea {
    padding: 10px;
    width: 30%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    
}
#componentInitContainer {
    display: grid;
    border-bottom: 2px solid black;
    overflow: hidden;

}
#componentInit {
    justify-self: end;
    padding: 10px;
}
#componentView {
    display:grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    overflow: scroll;
}
#componentName {
    font-weight: bold;
    border: none;
    font-size: medium;
    text-align: right;
    vertical-align: middle;
}
#componentName:focus {
    outline: none;
}
#cdnLink {
    overflow-x: scroll;
}
#cdnLink::-webkit-scrollbar {
    width: 0px;
}
#credits {
    text-align: right;
    padding: 20px;
    font-size: small;
}